.about-container {
  display: flex;
  justify-content: space-between;

  .aboutBio {
    color: #fff;
    background-color: #343434;
    border-radius: 1rem;
    padding: 1rem;
    width: 48%;
    p {
      font-size: 0.8rem;
    }
  }

  .about-skills {
    color: #000;
    border: 1px solid #343434;
    border-radius: 1rem;
    padding: 1rem;
    width: 48%;

    .skill-icons {
      display: flex;
      flex-direction: row;

      .tech-icons {
        display: flex;
        flex-direction: column;
        font-size: 45px;
        width: 50%;

        .techIcon {
          display: flex;
          margin-bottom: 1rem;
        }

        .progress-bar {
          width: 100%;
          margin-left: 0.5rem;
          div {
            color: red;
            font-size: 1.1rem;
          }
        }

        .ic-html5 {
          color: #f06529;
        }
        .ic-css {
          color: #1e90ff;
        }
        .ic-js {
          color: #efd81d;
        }
        .ic-babel {
          color: #f9dc3e;
        }
        .ic-webpack {
          color: #75aecb;
        }
        .ic-npm {
          color: #c40b0a;
        }
      }
    }
  }

  .about-hobbies {
  }
}
