.container {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding: 0 0.8rem;
  // height: 80vh;

  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .project-bio {
    width: 50%;

    h1 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.4rem;
    }

    p {
      font-size: 0.9rem;
      a {
        color: #28df99;
      }
    }

    h3:nth-child(9) {
      margin: 0 0 0.5rem 0;
    }

    .tech-icons {
      font-size: 45px;

      svg {
        margin-right: 1rem;
      }

      .ic-html5:hover {
        color: #f06529;
      }
      .ic-css:hover {
        color: #1e90ff;
      }
      .ic-js:hover {
        color: #efd81d;
      }
      .ic-babel:hover {
        color: #f9dc3e;
      }
      .ic-webpack:hover {
        color: #75aecb;
      }
      .ic-npm:hover {
        color: #c40b0a;
      }
    }
  }

  .project-img {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;

    .img {
      width: 900px;
      padding: 0.5rem;
      border: 0.5px solid #ccc;
      -moz-box-shadow: 0px 6px 10px #ccc;
      -webkit-box-shadow: 0px 6px 10px #ccc;
      box-shadow: 0px 6px 10px #ccc;
      filter: grayscale(100%);
    }

    .img:hover {
      filter: grayscale(0%);
    }
  }
}

/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .container {
    flex-direction: column;
    margin-bottom: 1.45rem;
    position: unset;
    transform: none;
    .project-bio {
      width: 100% !important;
    }

    .project-img {
      width: 100%;

      .img {
        width: 740px !important;
        filter: grayscale(0%) !important;
      }
    }
  }
}

/* iPhone X Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .container {
    justify-content: center;
    flex-direction: column;
    padding: 0 0.8rem;
    margin-bottom: 1.45rem;
    position: unset;
    transform: none;

    .project-bio {
      width: 100%;
    }

    .project-img {
      width: 100%;

      .img {
        // max-width: 349px !important;
        // max-height: 349px !important;
        width: 349px !important;
        filter: grayscale(0%);
      }
    }
  }
}
