.index-container {
  display: flex;
  justify-content: center;
  height: 80vh;

  .index-row {
    width: 100%;

    .hero-col {
      margin: auto;
      .hero-img {
        margin: auto;
        box-shadow: 0px 6px 10px #ccc;
        -moz-box-shadow: 0px 6px 10px #ccc;
        -webkit-box-shadow: 0px 6px 10px #ccc;
      }
    }
    .hero-bio {
      margin: auto;
      h1 {
        font-size: 3.3rem;
      }

      p {
        width: 72%;
        font-size: 1.2rem;
      }
      .index-cta {
        width: 240px;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .index-container {
    height: 80vh;

    .index-row {
      .hero-img {
        width: 400px !important;
      }
      .hero-bio {
        text-align: center;
        h1 {
          font-size: 1.9rem;
        }
        p {
          width: 100%;
          font-size: 1rem;
        }

        .index-cta {
          width: 100%;
          font-weight: bold;
        }
      }
    }
  }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .index-container {
    height: 80vh;

    .index-row {
      .hero-img {
        width: 300px !important;
      }

      .hero-bio {
        margin: 0;

        h1,
        p {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .index-container {
    .index-row {
      flex-wrap: nowrap;

      .hero-img {
        width: 300px !important;
      }

      .hero-bio {
        text-align: left;

        h1 {
          font-size: 1.5rem;
        }
        p {
          font-size: 0.8rem;
        }
      }

      .index-cta {
        font-size: 0.8rem;
      }
    }
  }
}
