.indexContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .index-row {
    width: 100%;
  }

  .heroImg {
    margin: auto;
    div {
      margin: auto;
    }
  }

  .heroBio {
    margin: auto;
    h1 {
      font-size: 3.4rem;
    }

    p {
      width: 80%;
      font-size: 1.3rem;
    }
    .indexCta {
      width: 240px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 991px) {
  .indexContainer {
    .heroImg {
      div {
        max-width: 400px !important;
      }
    }
    .heroBio {
      text-align: center;
      h1 {
        font-size: 1.9rem;
      }
      p {
        width: 100%;
        font-size: 1rem;
      }

      .indexCta {
        width: 100%;
        font-weight: bold;
      }
    }
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .indexContainer {
    height: 80vh;

    .heroBio {
      margin: 0;

      h1,
      p {
        margin-bottom: 1rem;
      }
    }
  }
}
