// .projects-container {
//   display: flex;
//   flex-direction: column;

//   .project-title {
//     text-align: center;
//   }

//   .card-container {
//     margin: 1rem auto;
//     display: flex;
//     justify-content: center;
//   }

//   .card-wrapper {
//     flex-direction: row;
//     width: 80%;
//   }

//   .card-img {
//     width: 400px !important;
//     height: 400px !important;
//   }

//   .card-body {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 50%;

//     div {
//       font-size: 1.8rem;
//       font-weight: bold;
//     }

//     button {
//       border: none;
//       background-color: #28df99;
//       font-weight: bold;
//       text-tranm: uppercase;
//       width: 60%;

//       &:hover {
//         background-color: darken(#28df99, $amount: 5);
//       }
//     }
//   }
// }

// /* Portrait */
// @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
//   .projects-container {
//     .card-wrapper {
//       flex-direction: column;
//       width: 100%;
//     }

//     .card-img {
//       width: 100% !important;
//     }

//     .card-body {
//       width: 100%;

//       button {
//         width: 100%;
//       }
//     }
//   }
// }

// Styling general section
.section {
	display: flex;
	align-items: center;
	height: 100vh;

	// .browser {
	// 	display: flex;
	// 	position: absolute;
	// 	margin: 1.5rem 10px;
	// 	span {
	// 		margin: 0 0.4rem;
	// 	}
	// 	.close {
	// 		width: 15px;
	// 		height: 15px;
	// 		border-radius: 100%;
	// 		background-color: #ff605c;
	// 		// position: relative;
	// 		// top: 12%;
	// 		// left: 1%;
	// 	}
	// 	.minimize {
	// 		width: 15px;
	// 		height: 15px;
	// 		border-radius: 100%;
	// 		background-color: #ffbd44;
	// 		// position: relative;
	// 		// top: 12%;
	// 		// left: 1%;
	// 	}
	// 	.maximize {
	// 		width: 15px;
	// 		height: 15px;
	// 		border-radius: 100%;
	// 		background-color: #00ca4e;
	// 		// position: relative;
	// 		// top: 12%;
	// 		// left: 1%;
	// 	}
	// }

	.frame {
		position: fixed;
		right: 104px;
		top: 251px;
		width: 449px;
		height: 272px;
		border: 3px solid #141414;
		border-radius: 0.5rem;
		box-shadow: 10px 10px 0px #141414;
	}

	// Styling general containers
	.bio-col {
		display: flex;
		align-items: center;

		.bio-container {
			margin-left: 2rem;

			div {
				display: flex;
				// justify-content: space-between;

				h1 {
					font-size: 1.5rem;
				}

				svg {
					font-size: 1.5rem;
					margin-left: 5rem;
					margin-bottom: 1.45rem;
				}
			}

			p {
				font-size: 0.9rem;
				width: 400px;
			}
		}
	}

	// Styling general containers
	.image-container {
		.cardImg {
			width: 100%;
			background-position: right 107px top 254px;
			background-size: 443px 266px;
		}
	}
}

// Styling individual section
.indecision {
	// color: #fff;
	// background: #90cba4;

	.bio-container {
		color: #90cba4;

		div {
			svg {
				color: #90cba4;
			}
		}
	}

	.cardImg {
		background-image: url(../../posts/projects/indecision-app/indecision-app.png);
		background-attachment: fixed !important;
		width: 540px;
		height: 100vh;
		background-repeat: no-repeat;
	}
}

.recipe {
	// color: #fff;
	// background: #89b1d1;

	.bio-container {
		color: #89b1d1;

		div {
			svg {
				color: #89b1d1;
			}
		}
	}

	.cardImg {
		background-image: url(../../posts/projects/recipe-app/recipe-app.png);
		background-attachment: fixed !important;
		width: 540px;
		height: 100vh;
		background-repeat: no-repeat;
	}
}

.quoteMachine {
	// color: #fff;
	// background: #f17476;

	.bio-container {
		color: #f17476;

		div {
			svg {
				color: #f17476;
			}
		}
	}

	.cardImg {
		background-image: url(../../posts/projects/random-quote-machine/random-quote-machine.png);
		background-attachment: fixed !important;
		width: 540px;
		height: 100vh;
		background-repeat: no-repeat;
	}
}

.todo {
	// color: #fff;
	// background: #a37ec9;

	.bio-container {
		color: #a37ec9;

		div {
			svg {
				color: #a37ec9;
			}
		}
	}

	.cardImg {
		background-image: url(../../posts/projects/todo-app/todo-app.png);
		background-attachment: fixed !important;
		width: 540px;
		height: 100vh;
		background-repeat: no-repeat;
	}
}

.hangman {
	// color: #fff;
	// background: #6f6977;
	height: 100vh;

	.bio-container {
		color: #6f6977;
		margin-top: 133.4px;

		div {
			svg {
				color: #6f6977;
			}
		}
	}

	.cardImg {
		background-image: url(../../posts/projects/hangman-game/hangman-game.png);
		background-attachment: fixed !important;
		width: 540px;
		height: 100vh;
		background-repeat: no-repeat;
	}
}
