.projects-container {
  display: flex;
  flex-direction: column;

  .project-title {
    text-align: center;
  }

  .card-container {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
  }

  .card-wrapper {
    flex-direction: row;
    width: 80%;
  }

  .card-img {
    width: 400px !important;
    height: 400px !important;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    div {
      font-size: 1.8rem;
      font-weight: bold;
    }

    button {
      border: none;
      background-color: #28df99;
      font-weight: bold;
      text-transform: uppercase;
      width: 60%;

      &:hover {
        background-color: darken(#28df99, $amount: 5);
      }
    }
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .projects-container {
    .card-wrapper {
      flex-direction: column;
      width: 100%;
    }

    .card-img {
      width: 100% !important;
    }

    .card-body {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}
